html {
    scroll-padding-top: 70px;
}
.bannerbg{
    min-height: 90vh;
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    background-position: center;
}
.formbg{
    min-height: 90vh;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/banner.jpeg);
    background-size: cover;
    background-position: center;
}
.btn-primary{
    background-color: rgb(250, 192, 104) !important;
    border-color: rgb(250, 216, 164) !important;
}
.btn-primary:hover{
    background-color: rgb(252, 188, 69) !important;
}
.btn-outline-primary{
    border-color: rgb(252, 177, 65) !important;
    color:rgb(241, 159, 36) !important;
}
.btn-outline-primary:hover{
    background-color: rgb(250, 216, 164) !important;
}
.btn-circle{
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(250, 192, 104);
    background-color: rgb(250, 192, 104);
}
ul.dropdown-menu > li{
    width: 300px !important;
}
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
#search:focus {border-color:rgb(255, 253, 253)!important;
    -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important;
    }
.bg-gray {
    background-color: #e2e2e2 !important;
}
.avatarupdate a {
    position: relative;
    overflow: hidden;
}
.avatarupdate a input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
